body {
  background-color: #121212;
  color: #ffffff;
}

.MuiCard-root {
  background-color: #1e1e2f;
  color: #ffffff;
}

.MuiTypography-root {
  color: #ffffff;
}

.MuiListItem-root {
  background-color: #29293d;
  margin-bottom: 5px;
  border-radius: 5px;
}

.MuiListItemIcon-root {
  color: inherit;
}

.MuiSvgIcon-root {
  color: inherit;
}

.MuiTable-root {
  background-color: #1e1e2f;
  color: #ffffff;
}

.MuiTableCell-root {
  color: #ffffff;
  border-color: #29293d;
}

.activity-chart{
  margin-top: 15px !important;
}

.net-profit-chart{
  height: 76% !important;
}

.MuiBox-root .css-0{
  margin-bottom: 40px;
}

.quick-action{
  margin-top: -30px !important;
}

.CircularProgressbar {
  margin-top: -60px;
    height: 90px;
}
